<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link id="b1" rel="stylesheet" type="text/css" href="../static/Users/style6.css">

    <title>ebookstore</title>
  </head>
  <body>
    <nav id= "b2" class="navbar navbar-expand-md navbar-light sticky-top " style="background-color:white">
      <div class="container-fluid panel ">
        <a class="navbar-brand"><img src="../static/Users/images/logo.jpg" alt="logopic"></a>
        <button class="navbar-toggler" type="button" data-togglr="collapse"
        data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav ml-auto">
			
            <li>

              <a href="{% url 'login' %}"><font color=black>Login </font></a>
            </li>
			<li>
&nbsp&nbsp&nbsp&nbsp&nbsp
              <a href="{% url 'register' %}"><font color=black>SignUp </font></a>
            </li>


</nav>
            
<script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>

<div class="bro2"><p><font size="8px" color="black">Logged Out</font></p></div>

<div class="bro"><font size="3px" color="#808080">You have been successfully logged out!<br>Please Login again to continue.</font></div>



<footer class="foot">
  <a name="footer"><font color="black">
    <p class="text-center">
      <br>
    Call us at : +91-9869137150 / +91-8879556639<br>
    Email us at : ebookstore26@gmail.com / customercare@ebkstore.co.in<br>
    Address (9am to 9pm) : Dwarkadas J. Sanghvi College of Engineering Vile Parle (West) Mumbai-400094</p>
    <p class="text-right">&copy Copyright. All rights reserved.&nbsp&nbsp&nbsp</p></font>
  </a>
</footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/Books/jquery.js"></script>
	<script type="text/javascript" src="../../static/Books/join1.js"></script>
    <script type="text/javascript" src="../../static/Books/hovertext.js"></script>
    <script type="text/javascript" src="../../static/Books/snackbar.js"></script>
  </body>
</html>