.container{
    margin-top: -409px;
    margin-left: 750px;
}

.containr{
    margin-top: -320px;
    margin-left: 750px;
}

.legendd {
    font-family: "PT Mono";
    font-size: 33px;
    text-align: left;
}

.hello{
    margin-top: 180px;
    margin-left: 200px;
}

.hillo{
    font-size: 19px;
width: 300px;
    font-family: cursive;
}


.hillos{
    font-size: 19px;
    margin-left: 190px;
width: 300px;
    font-family: cursive;
}

.hellos{
    font-size: 40px;
    font-family: "PT Mono";
}