<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/Books/style.css">
    {#      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
    {#    <script src="../static/Books/jquery.js" type="text/javascript"></script>#}
    {#    <script type="text/javascript" src="../static/Books/hovertext.js"></script>#}
    {#    <script type="text/javascript" src="../static/Books/snackbar.js"></script>#}

    <title>Ebookstore</title>
</head>
<body>
{#    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">#}
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: white">
    <div class="container-fluid panel">

        <a class="navbar-brand"><img src="../static/images/logo.jpg" alt="logopic"></a>
        <button class="navbar-toggler" type="button" data-togglr="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>

        </button>
    <div class="container-fluid panel topnav">
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <div id="hoverdiv"></div>

            {#            here#}

            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' %}">
                <input class="panel input hover" hovertext="Enter a Book Name" name = "q" value="{{ request.GET.q }}" type="text" placeholder="Search.." style = "width:500px">

                <button type="submit" hovertext="Search" class="btn btn-default hover"><img src="../static/images/search.png"></button>
            </form>
            {#            here#}

            {#            <input class="panel input hover" hovertext="Enter a Book Name" value="{{ request.GET.q }}"" type="text" placeholder="Search.." style = "width:500px"><font color="white">ii</font>#}
            {#            <a class="hover" href="{% url 'search' name %}" hovertext=" Search"><img src="../static/images/search.png">#}
{#            </a>#}

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">

                    <div id="hoverdiv"></div>
                    <a class="nav-link active hover" href="{% url 'home' %}" hovertext="Home"><img src="../static/images/home.png">
                    </a>

                </li>
                <li class="nav-item">

                    <div id="hoverdiv"></div>
                    <a class="nav-link hover" href= "{% url 'favourites' %}" hovertext="My Favorites"><font color="white">Ai</font>
                        <img src="../static/images/fav.png"></a>
                </li>
                <li class="nav-item">

                    <div id="hoverdiv"></div>
                    <a class="nav-link hover" id="upload" href="#popup1" hovertext="Upload a Book"><font color="white">Ai</font><img src="../static/images/upload.png">
                    </a>
                </li>
                <li class="nav-item">

                    <div id="hoverdiv"></div>
                    <a onclick="myFunction()" class="nav-link hover" href="{% url 'logout' %}" hovertext="Log Out"><font color="white">A</font><img src="../static/images/logout.png">
                    </a>


                    <div id="snackbar">Successfully logged out</div>

                </li>
                <li class="nav-item">
                    <div id="hoverdiv"></div>
                    <a class="nav-link hover" href="#footer" hovertext="Contact"><font color="white">ii</font><img src="../static/images/call.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {#    #from here#}
                {#         < class="col-md-8">#}
                {#          {% if messages %}#}
                {#            {% for message in messages %}#}
                {#              < class="alert alert-{{ message.tags }}">#}
                {#                {{ message }}#}
                {#              </>#}
                {#            {% endfor %}#}
                {#          {% endif %}#}
                {#         ok#}
                <div id="slides" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#slides" data-slide-to="0" class="=active"></li>
                        <li data-target="#slides" data-slide-to="1"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/images/slide.jpg" class="img-responsive col-lg-12">
                            <div class="carousel-caption">
                                <h2>Our Genres</h2>
{#                                <a href="#" class="submit" >Go to Google</a>#}
                                <a href="{% url 'Thriller' %}" class="btn btn-outline-light btn-lg off"><b>Thriller</b></a>
                                <a href="{% url 'Romantic' %}" class="btn btn-outline-light btn-lg off"><b>Romantic</b></a>
                                <a href="{% url 'horror' %}" class="btn btn-outline-light btn-lg off"><b>Horror</b></a>
                                <a href="{% url 'Mystery' %}" class="btn btn-outline-light btn-lg off"><b>Mystery</b></a>
{#                                <button type="button" action = "{% url 'Romance'  %}" class="btn btn-outline-light btn-lg"><b>Thriller</b></button>#}
{#                                <button type="button" class="btn btn-outline-light btn-lg"><b>Romance</b></button>#}
{#                                <button type="button" class="btn btn-outline-light btn-lg"><b>Horror</b></button>#}
{#                                <button type="button" class="btn btn-outline-light btn-lg"><b>Mystery</b></button>#}

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../static/images/j.jpg" class="img-resposive col-lg-12">
                            <div class="carousel-caption">
                                <h2>Our Genres</h2>
                                <a href="{% url 'Spiritual' %}" class="btn btn-outline-light btn-lg off"><b>Spiritual</b></a>
                                <a href="{% url 'Fiction' %}" class="btn btn-outline-light btn-lg off"><b>Fiction</b></a>
                                <a href="{% url 'Psychology' %}" class="btn btn-outline-light btn-lg off"><b>Psychology</b></a>
                                <a href="{% url 'useruploads' %}" class="btn btn-outline-light btn-lg off"><b>My Uploads</b></a>
{#                                <button type="button" class="btn btn-outline-light btn-lg"><b>Spiritual</b></button>#}
{#                                <button type="button" class="btn btn-outline-light btn-lg"><b>Fiction</b></button>#}
{#                                <button type="button" class="btn btn-outline-light btn-lg"><b>Psychology</b></button>#}
{#                                <button type="button" class="btn btn-outline-light btn-lg"><b>My Uploads</b></button>#}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>




    <h2 class="display-6 text-center" style="font-family: 'Arial Hebrew'">Trending Now<img src="../static/images/fire.png"></h2>


    <div class="container">
        <div class="row">
            <div class="col-4-lg">

                <div id="hoverdiv"></div>

                {% for currentBook in toBeDisplayed %}
                    {% if forloop.counter == 1 %}
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% for currentBook in toBeDisplayed %}
                {% if forloop.counter == 2 %}
                    <div class="col-4-lg ml-5">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% for currentBook in toBeDisplayed %}
                {% if forloop.counter == 3 %}
                    <div class="col-4-lg ml-5">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <p><font color=#fff>hgkfjgdhfhhsdfyguihuo;ilgufdgyutdrshfjghligukfjdfghlfdhjfkglhgkfghdxgfgkhfjdfAAAAAAAkklgjfcxchkjlhkgjfcxcnhvk.jkhgjfdjfhjhkljgfghklhjfgfjghigkufyjgukikguf</font><a href="{% url 'trending' %}"><font color=#4558DE>See more ></font></a></p>

    <br>
    <br>


    <h2 class="display-6 text-center" style="font-family: 'Arial Hebrew'" >Highest Rated <img src="../static/images/rate.png"> </h2>




    <div class="container">
        <div class="row">

            {% for currentBook in highestRated %}
                {% if forloop.counter == 1 %}
                    <div class="col-4-lg">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if forloop.counter == 2 %}
                    <div class="col-4-lg ml-5">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if forloop.counter == 3 %}
                    <div class="col-4-lg ml-5">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>


                    </div>
                    </div>
                {% endif %}
            {% endfor %}

    <p><font color=#fff>hgkfjgdhfhhsdfyguihuo;ilgufdgyutdrshfjghligukfjdfghlfdhjfkglhgkfghdxgfgkhfjdfAAAAAAAkklgjfcxchkjlhkgjfcxcnhvk.jkhgjfdjfhjhkljgfghklhjfgfjghigkufyjgukikguf</font><a href="{% url 'highrated' %}"><font color=#4558DE>See more ></font></a></p>

    <br>
    <br>


    <h2 class="display-6 text-center" style="font-family: 'Arial Hebrew'"8 >Editor's Pick <img src="../static/images/editor.png"> </h2>



    <div class="container">
        <div class="row">
            {% for currentBook in editorsPicked %}
                {% if forloop.counter == 1 %}
                    <div class="col-4-lg">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if forloop.counter == 2 %}

                    <div class="col-4-lg ml-5">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if forloop.counter == 3 %}
                    <div class="col-4-lg ml-5">
                        <div class="card hover" hovertext="Genre : {{ currentBook.genre }}/ Rating : {{ currentBook.ratings }}" style="width:18rem">
                            <img src="{{ currentBook.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                            <div class="card-body">
                                <a href="{% url 'displayBook' currentBook.id %}" class="card-title"><b><font color="black">{{ currentBook.bookName }}</font></b></a>
                                <p class="card-text">{{ currentBook.authorName }}</p>
                            </div>
                        </div>
                    </div>


                    </div>
                    </div>
                {% endif %}
            {% endfor %}

    <p><font color=#fff>hgkfjgdhfhhsdfyguihuo;ilgufdgyutdrshfjghligukfjdfghlfdhjfkglhgkfghdxgfgkhfjdfAAAAAAAkklgjfcxchkjlhkgjfcxcnhvk.jkhgjfdjfhjhkljgfghklhjfgfjghigkufyjgukikguf</font><a href="{% url 'editorchoice' %}"><font color=#4558DE>See more ></font></a></p>

    <br>
    <br>



    {#        {% if forloop.counter  0 %}#}
    <div class="">

        <h2 class="display-6 text-center" style="font-family: 'Arial Hebrew'" >Recently Opened <img src="../static/images/eye.png"> </h2>



        <div class="container">
            <div class="row">
                {% for book in recents %}
                    {% if forloop.counter == 1 %}
                        <div class="col-4-lg">
                            <div class="card hover" hovertext="Genre : {{ book.genre }}/ Rating : {{ book.ratings }}" style="width:18rem">
                                <img src="{{ book.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                                <div class="card-body">
                                    <a href="{% url 'displayBook' book.id %}" class="card-title"><b><font color="black">{{ book.bookName }}</font></b></a>
                                    <p class="card-text">{{ book.authorName }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        <div class="col-4-lg ml-5">
                            <div class="card hover" hovertext="Genre : {{ book.genre }}/ Rating : {{ book.ratings }}" style="width:18rem">
                                <img src="{{ book.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                                <div class="card-body">
                                    <a href="{% url 'displayBook' book.id %}" class="card-title"><b><font color="black">{{ book.bookName }}</font></b></a>
                                    <p class="card-text">{{ book.authorName }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        <div class="col-4-lg ml-5">
                            <div class="card hover" hovertext="Genre : {{ book.genre }}/ Rating : {{ book.ratings }}" style="width:18rem">
                                <img src="{{ book.thumbnailImage.url }}" alt="card img" class="card-img-top car">
                                <div class="card-body">
                                    <a href="{% url 'displayBook' book.id %}" class="card-title"><b><font color="black">{{ book.bookName }}</font></b></a>
                                    <p class="card-text">{{ book.authorName }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>





        <br>
        <br>

    </div>
</div>



<div>
    <font class="hover" hovertext=" – Mortimer J. Adler" color=#66696A ><i class="text-center">
        &nbsp&nbsp&nbsp&nbsp“&nbsp&nbsp&nbsp&nbspIn the case of good books, the point is not to see how many of them you can get through, but rather how many can get through to you.&nbsp&nbspThink before you speak. Read before you think.&nbsp&nbsp&nbsp&nbsp”</i></font>
</div>




<footer class="foot">
    <a name="footer"><font color="black">
        <p class="text-center">
            <br>
            Call us at : +91-9869137150 / +91-8879556639<br>
            Email us at : ebookstore26@gmail.com / customercare@ebkstore.co.in<br>
            Address (9am to 9pm) : Dwarkadas J. Sanghvi College of Engineering Vile Parle (West) Mumbai-400094</p>
        <p class="text-right">&copy Copyright. All rights reserved.&nbsp&nbsp&nbsp</p></font>
    </a>
</footer>




<div id="popup1" class="overlay">
    <div class="popup">
        <h5>  Share your content with us.</h5>

        <a class="close" href="#">&times;</a>
        <div class="content">

            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="bookname" style="width:320px" placeholder="Book Title">

                <br>
                <input type="text" name="author" style="width:228px" placeholder="Author">
                <br>
                <small>Book Genre  -&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp  &nbsp &nbsp Release Date -</small>
                <br>
                <select name = "genre" style="width: 105px">

                    <option value="Romance">Romance</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Horror">Horror</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Spiritual">Spiritual</option>
                    <option value="Psychology">Psychology</option>

                </select>
                &nbsp &nbsp
                <input type="date" name="date" style="width: 190px">


                <br>
                <small>Insert Book Cover image: </small><input type="file" style="width: 320px" name="thumbnail">
                <br>
                <small>Select Book PDF: </small><input type="file" style="width: 320px" name="bookpdf">

                <br>
                <textarea style="width: 320px" name= "synopsis" class="textarea" placeholder="Brief Synopsis" ></textarea>
                <br>
                <input type="submit" value="Upload Now"  style="width: 320px" >
            </form>

        </div>
    </div>
</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{#    <script type="text/javascript" src="../static/Books/jquery.js"></script>#}
<script type="text/javascript" src="../static/Books/hover.js"></script>
<script type="text/javascript" src="../static/Books/upload.js"></script>
<script type="text/javascript" src="../static/Books/snackbar.js"></script>
</body>
</html>
